VITE_APP_API_URL=http://localhost:8000/api
VITE_APP_BASE_NAME=/

#########################################
#   Datos para Dockerizar la Aplicación (Opcional)
######################################### 
# SERVER_ORIGIN=http://localhost:5400
# DOCKER_HUB_USERNAME=nico0689crc
# DOCKER_HUB_FRONTEND_IMAGE=tareas-admin-frontend-dev
# FRONTEND_HOST_PORT=5400
# FRONTEND_CONTAINER_PORT=3000